@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


@keyframes slideRight {
  from {transform: translateX(50px); opacity: 0;}
  to {transform: translateX(0); opacity: 1;}
}

@keyframes slideLeft {
  from {transform: translateX(-50px); opacity: 0;}
  to {transform: translateX(0); opacity: 1;}
}

.animate-slide-right {animation: slideRight 0.3s ease-out;}
.animate-slide-left {animation: slideLeft 0.3s ease-out;}



.bulk-view {
  display: none;
}


@media print {


  .side-drawer, .action-bar, .sidebar, .invoices-table {
    display: none;
  }
  .is-bulk .single-view { display: none; }
  .is-bulk .bulk-view { display: block; }
  .is-bulk .invoice-to-print { break-after: page; }

  .is-single .bulk-view { display: none; }
  .is-single .single-view { display: block; }

  main > *:not(.preview-container) {
    visibility: hidden;
    height: auto;
  }

  .invoices-container {
    height: auto;
    min-height: 0;
    margin: 0;
    padding: 0;
  }
  
  .modal-container {
    position: static;
    height: auto;
    margin: 0;
    padding: 0;
  }

  .invoice-to-print {
    print-color-adjust: exact;
    visibility: visible;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .signature-container {
    margin-top: 10rem;
  }

  @page {
    margin: 0;
    size: auto;
  }

}

